<div class="relative overflow-hidden bg-cover bg-no-repeat h-[700px] bg-[0.5rem]">
    <nav class="relative flex w-full items-center justify-between bg-white py-2 shadow-sm shadow-neutral-700/10 dark:bg-neutral-800 dark:shadow-black/30 lg:flex-wrap lg:justify-start"
        data-te-navbar-ref>
        <!-- Container wrapper -->
        <div class="flex w-full flex-wrap items-center justify-between px-6">
            <div class="flex items-center">
                <!-- Navbar Brand -->
                <a class="text-primary dark:text-primary-400" href="">
                    <img src="assets/logo white.png" alt="" class="w-[236px] h-[46.91px] ml-[30px] mt-[30px]" >
                </a>
            </div>
            <!-- Right elements -->
            <!-- <div class="my-1 flex items-center lg:my-0 lg:ml-auto">
                <a href=""
                    class=" text-[#FFFFFF] mr-2 inline-block rounded px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out  focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400 dark:hover:bg-neutral-700 dark:hover:bg-opacity-60 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
                    data-te-ripple-init data-te-ripple-color="light"  >
                    Log In
                </a>
                <button type="button" data-te-ripple-init data-te-ripple-color="light"  class="text-[#FFFFFF] ">
                    Sign up for Now
                </button>
            </div> -->

        </div>

    </nav>
     <video class="min-w-full min-h-full absolute object-cover" src="assets/healers vedio.mp4" type="video/mp4" autoplay
        muted loop></video>

    <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.75)] bg-fixed">
        <div class="flex h-full items-center justify-center">
            <div class="px-6 text-center text-white md:px-12">
                <h1 class="mt-2 mb-8 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl w-[668px] h-[158px] text-center leading-[79.2px] size-[72px]" >
                  Ready to transform your life? <br />
                </h1>

                <p
                  class="font-normal w-[636px] h-[76px] text-center leading-[38.4px] size-[24px]">
                    Join the Healers today and take the first step towards a <br>healthier,happier you.</p>
            </div>
        </div>
    </div>
</div>