<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<nav
    class=" relative flex w-full flex-wrap items-center justify-between  py-2 shadow-dark-mild dark:bg-neutral-700 lg:py-4   ">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div class="flex">
            <a class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0 h-[47px] w-[236px ml-[45px]">
                <img class="me-2" src="assets/logo.svg.svg" alt="TE Logo" loading="lazy" />
            </a>
        </div>
        <ul class="jhonadamas list-style-none ms-auto flex flex-row ps-0 md:ps-4 mr-[70px] rounded-[32px]"
            data-twe-navbar-nav-ref>
            <a class="hidden-arrow mr flex items-center text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80"
                id="dropdownMenuButton1" role="button" data-twe-dropdown-toggle-ref aria-expanded="false">
                <span class="[&>svg]:h-6 [&>svg]:w-6 ">
                    <img src="assets/bell.png.png" alt="">
                </span>
            </a>
            <li class="px-2" data-twe-nav-item-ref>
                <a class="flex  transition duration-200 mt-[4px]" data-twe-nav-link-ref><img
                        src="https://tecdn.b-cdn.net/img/new/avatars/1.jpg" class=" " style="height: 25px; width: 25px"
                        alt="TE Avatar" loading="lazy" />
                    <strong class="ms-1 hidden sm:block">John Adams</strong>
                </a>
            </li>
            <li class="relative px-2" data-twe-dropdown-ref data-twe-dropdown-alignment="end">

                <a class="hidden-arrow mr flex items-center text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80"
                    id="dropdownMenuButton1" role="button" data-twe-dropdown-toggle-ref aria-expanded="false">

                    <span class="[&>svg]:h-6 [&>svg]:w-6 mt-[4px]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                </a>

                <ul class="absolute z-[1000] float-left hidden min-w-max list-none overflow-hidden border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-surface-dark data-[twe-dropdown-show]:block"
                    aria-labelledby="dropdownMenuButton1" data-twe-dropdown-menu-ref>

                </ul>
            </li>
        </ul>

    </div>
</nav>
<!-- hero sections   -->
<section class=" body-font shadowsfor" *ngIf="!gendersection">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img class="  w-5/6 mb-10 object-cover object-center rounded-[16px] w-[1300px] h-[320px] " alt="hero"
            src="assets/pref img.png">
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-[48px] mb-4 font-semibold text-[#18181B]">Let’s design your unique
                Experience</h1>
            <p class="mb-8 leading-[24px] text-[16px] ">The more we get to know you, the more we can serve up classes
                you love. Help <br> us personalize your practice by answering three quick questions.</p>
            <div class="flex justify-center">
                <button
                    class="inline-flex text-white bg-[#F28500] gap-[10px] border-0 py-2 px-6 focus:outline-none text-[18px] rounded-[44px] text-lg font-bold"
                    (click)="togglegendersection() ">Sounds
                    Good</button>
            </div>
            <div class="flex justify-center gap-[10px] font-medium mt-[10px] text-lg">
                <button> No Thanks</button>
            </div>
        </div>
    </div>
</section>

<!-- new threee sections  -->
<section class="text-gray-600 body-font" *ngIf="gendersection">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex items-center mx-auto  pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <button
                class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center  mb-[90px] justify-center   text-indigo-500 flex-shrink-0 rounded-[16px]"
                *ngIf="!genderbutton">
                <img src="assets/gender white.png" alt="" (click)="clickbutton()">
            </button>
            <button *ngIf="genderbutton"
                class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center  mb-[90px] justify-center   text-indigo-500 flex-shrink-0 rounded-[16px]">
                <img src="assets/gender 1.png" alt="">
            </button>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-[32px]  title-font font-medium mb-2">What is your gender?</h2>
                <p class="leading-relaxed text-base text-[16px] font-normal">To provide you the best experience we need
                    to know your gender..</p>
                <div
                    class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10  mt-[20px] inline-flex items-center justify-center   text-indigo-500 flex-shrink-0 rounded-[16px]">
                    <img src="assets/male.png" alt="">
                </div>
                <div
                    class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex mt-[20px] items-center justify-center   text-indigo-500 flex-shrink-0 rounded-[16px]">
                    <img src="assets/Gender (1).png" alt="">
                </div>
            </div>
        </div>

        <div class="flex items-center  mx-auto  pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <button
                class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 inline-flex items-center justify-center text-indigo-500 flex-shrink-0 rounded-[16px]">
                <img src="assets/profile.png" alt="">
            </button>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-[32px]  title-font font-medium mb-2">How old are you?</h2>
                <p class="leading-relaxed text-base text-[16px] font-normal">This will help us create your personalized
                    experience.</p>
                <form class="flex mt-[20px]">
                    <form class="max-w-[8rem] ml-[23px] ">
                        <label for="countries"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Year</label>
                        <select id="countries"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>2000</option>
                        </select>
                    </form>
                    <form class="max-w-[8rem] ml-[23px] ">
                        <label for="countries"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Month</label>
                        <select id="countries"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>March</option>
                        </select>
                    </form>
                    <form class="max-w-[8rem] ml-[23px] ">
                        <label for="countries"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Day</label>
                        <select id="countries"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>31</option>
                        </select>
                    </form>
                </form>

            </div>


        </div>
        <div class="flex items-center mx-auto sm:flex-row flex-col">
            <button
                class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center text-indigo-500 flex-shrink-0 rounded-[16px]">
                <img src="assets/birth.png" alt="">
            </button>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">

            </div>
        </div>

    </div>
</section>