<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<nav
    class=" relative flex w-full h-full flex-wrap items-center justify-between  py-2 shadow-dark-mild dark:bg-neutral-700 py-4    ">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div class="flex">
            <button class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0 h-[47px] w-[236px ml-[45px]"
                (click)="navigatetohome()">
                <img class="me-2" src="assets/logo.svg.svg" alt="TE Logo" loading="lazy" />
            </button>
        </div>

        <ul class="jhonadamas list-style-none ms-auto flex flex-row  mr-[70px]" data-twe-navbar-nav-ref>
            <a class="hidden-arrow mr flex items-center text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80"
                id="dropdownMenuButton1" role="button" data-twe-dropdown-toggle-ref aria-expanded="false">
                <span class="[&>svg]:h-6 [&>svg]:w-6 ">
                    <img src="assets/bell.png.png" alt="">
                </span>
            </a>
            <li class="px-2" data-twe-nav-item-ref>
                <a class="flex  transition duration-200 mt-[4px]" data-twe-nav-link-ref><img
                        src="https://tecdn.b-cdn.net/img/new/avatars/1.jpg" class=" rounded-full"
                        style="height: 25px; width: 25px" alt="TE Avatar" loading="lazy" />
                    <strong class="ms-1 hidden sm:block">John Adams</strong>
                </a>
            </li>
            <li class="relative px-2" data-twe-dropdown-ref data-twe-dropdown-alignment="end">

                <a class="hidden-arrow mr flex items-center text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80"
                    id="dropdownMenuButton1" role="button" data-twe-dropdown-toggle-ref aria-expanded="false">

                    <span class="[&>svg]:h-6 [&>svg]:w-6 mt-[4px]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                </a>

                <ul class="absolute z-[1000] float-left hidden min-w-max list-none overflow-hidden border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-surface-dark data-[twe-dropdown-show]:block"
                    aria-labelledby="dropdownMenuButton1" data-twe-dropdown-menu-ref>

                </ul>
            </li>
        </ul>

    </div>
</nav>
<!-- hero sections   -->
<section class=" body-font shadowsfor" *ngIf="!gendersection">
    <div class=" mx-auto flex   items-center justify-center flex-col">
        <img class="object-cover object-center rounded-[16px] w-[90%] h-[320px] " alt="hero" src="assets/pref img.png">
        <div class="text-center pt-5">
            <h1 class="title-font  text-[48px] mb-4 font-bold text-[#18181B]">Let’s design your unique
                Experience</h1>
            <p class="mb-8 leading-[24px] text-[16px] font-[400] text-[#18181B] ">The more we get to know you, the more we can serve up classes
                you love. Help <br> us personalize your practice by answering three quick questions.</p>
            <div class="flex justify-center">
                <button
                    class="inline-flex text-white bg-[#F28500] gap-[10px] border-0 py-2 px-6 focus:outline-none text-[18px] rounded-[44px] text-lg font-bold"
                    (click)="togglegendersection() ">Sounds
                    Good</button>
            </div>
            <div class="flex justify-center gap-[10px] font-medium mt-[10px] text-lg">
                <button> No Thanks</button>
            </div>
        </div>
    </div>
</section>

<!-- new threee sections  -->

<section class="text-gray-600 body-font" *ngIf="gendersection">
    <div class="flex pt-10">
        <div class="w-[25%]  flex-row items-center">
            <div class="pb-[10px] ">
                <div class="flex items-center flex-col">
                    <button *ngIf="!genderbutton"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center   justify-center  flex-shrink-0 rounded-[16px]">
                        <img src="assets/gender white.png" alt="" (click)="toggleSection('gender')">
                    </button>
                    <button *ngIf="genderbutton"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center  justify-center  flex-shrink-0 rounded-[16px]">
                        <img src="assets/gender 1.png" alt="" (click)="toggleSection('gender')">
                    </button>


                </div>
            </div>
            <div class=" pb-[10px]">

                <div class="flex items-center flex-col">
                    <button *ngIf="!birthDate"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center   justify-center    flex-shrink-0 rounded-[16px]">
                        <img src="assets/birth.png" alt="" (click)="toggleSection('birthDate')">
                    </button>
                    <button *ngIf="birthDate"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center  justify-center    flex-shrink-0 rounded-[16px]">
                        <img src="assets/date of.png" alt="" (click)="toggleSection('birthDate')">
                    </button>


                </div>


            </div>
            <div class=" pb-[10px]">
                <div class="flex items-center flex-col">
                    <button *ngIf="!physicalprofile"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center flex-shrink-0 rounded-[16px]">
                        <img src="assets/profile.png" alt="" (click)="toggleSection('physicalprofile')">
                    </button>
                    <button *ngIf="physicalprofile"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center  flex-shrink-0 rounded-[16px]">
                        <img src="assets/Preferences Tile.png" alt="" (click)="toggleSection('physicalprofile')">
                    </button>

                </div>
            </div>
            <div class=" pb-[23px]">
                <div class="flex items-center flex-col">
                    <button *ngIf="!wellnessGoals"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center flex-shrink-0 rounded-[16px]">
                        <img src="assets/Wellness White.png" alt="" (click)="toggleSection('wellnessGoals')">
                    </button>
                    <button *ngIf="wellnessGoals"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center  flex-shrink-0 rounded-[16px]">
                        <img src="assets/Wellness Blue.png" alt="" (click)="toggleSection('wellnessGoals')">
                    </button>
                </div>
            </div>

        </div>

        <div *ngIf="gendersection" class="flex flex-col items-center">
            <!-- gender div -->
            <div class="" *ngIf="!birthDate">
                <div *ngIf="!physicalprofile && !wellnessGoals">
                    <h2 class="text-gray-900 text-[32px]  title-font font-medium ">What is your gender?</h2>
                    <p class="leading-relaxed text-base text-[16px] font-normal">To provide you the best experience we
                        need
                        to know your gender..</p>
                    <div (click)="toggleBorder(0)" [style.border]="maleBorderStyle"
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10  mt-[20px] inline-flex items-center justify-center   text-indigo-500 flex-shrink-0 ">
                        <img src="assets/male.png" alt="">
                    </div>
                    <div (click)="toggleBorder(1)" [style.border]="femaleBorderStyle"
                        class="w-32 h-32 h-20 w-20 sm:mr-10 inline-flex mt-[20px] items-center justify-center   text-indigo-500 flex-shrink-0 ">
                        <img src="assets/Gender (1).png" alt="">
                    </div>
                </div>
            </div>
            <!-- birth div  -->
            <div class=" " *ngIf="!genderbutton">
                <div *ngIf="!physicalprofile && !wellnessGoals">
                    <div class="flex-col">
                        <h2 class="text-gray-900 text-[32px]  title-font font-medium leading-[48px]">How old are you?
                        </h2>
                        <p class=" text-[#18181B] text-[16px] font-normal leading-[48px] font-normal">This will help us
                            create your
                            personalized
                            experience.</p>
                    </div>
                    <form class="flex gap-[32px]">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" name="DOB"
                                [(ngModel)]="consumerPreference.dateofbirth" placeholder="MM/DD/YYYY">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <!-- physical div -->
            <div class="" *ngIf="!genderbutton">
                <div *ngIf="!birthDate && !wellnessGoals">
                    <div>
                        <h2 class="text-[#18181B] text-[32px]  title-font font-medium leading-[48px]">Let us know your
                            weight and height</h2>
                        <p class="leading-relaxed text-base text-[16px] font-normal leading-[24px]">This will help us
                            create
                            your personalized experience.</p>
                    </div>
                    <div class=" gap-[16px] mt-[23px]">

                        <div class="inline-flex">
                            <p class=" text-[16px] font-semibold leading-[24px] text-[#18181B] ">Weight</p>

                            <label class="flex items-center relative w-max cursor-pointer select-none ">
                                <input type="checkbox" name="weightUnit" [(ngModel)]="consumerPreference.weightUnit"
                                    class="appearance-none transition-colors cursor-pointer w-[30rem] h-[0.5rem] rounded-full" />
                                <span class="absolute font-medium text-xs  right-1   text-[#71727A]"> ib</span>
                                <span class="absolute font-medium text-xs  right-8 text-[#F28500]">kg</span>

                                <span
                                    class="w-7 h-7 right-7 absolute rounded-[10px] transform transition-transform bg-gray-200"></span>
                            </label>

                        </div>
                        <div class="flex items-center justify-between w-[11rem] mt-[23px]">
                            <form class="">
                                <input type="number" step=".05" name="weight" id="weight"
                                    aria-describedby="helper-text-explanation"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-[299%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="3" [(ngModel)]="consumerPreference.weight" required />
                            </form>
                        </div>

                    </div>

                    <div class=" gap-[16px] mt-[23px]">
                        <div class="inline-flex">
                            <p class=" text-[16px] font-semibold leading-[24px] text-[#18181B] ">Height</p>
                            <label class="flex items-center relative w-max cursor-pointer select-none ">
                                <input type="checkbox" name="heightUnit" [(ngModel)]="consumerPreference.heightUnit"
                                    class="appearance-none transition-colors cursor-pointer w-[30rem] h-[0.5rem] rounded-full" />
                                <span class="absolute font-medium text-xs  right-1   text-[#71727A]">in</span>
                                <span class="absolute font-medium text-xs  right-8 text-[#F28500]">cm</span>
                                <span
                                    class="w-7 h-7 right-7 absolute rounded-[10px] transform transition-transform bg-gray-200"></span>
                            </label>
                        </div>
                    </div>
                    <div class="flex flex-row gap-[32px] pt-[25px]">
                        <form class="">
                            <input type="number" name="height" step=".05" id="height"
                                aria-describedby="helper-text-explanation"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-[293%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="3" [(ngModel)]="consumerPreference.height" required />
                        </form>

                    </div>


                    <div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="!genderbutton && !birthDate && !physicalprofile">
                <div>
                    <div>
                        <h2 class="text-unselectable text-[#18181B] text-[32px] title-font font-medium leading-[48px]">
                            What would you like to focus on?</h2>
                        <p class="text-unselectable leading-relaxed text-base text-[16px] font-normal leading-[24px]">
                            This will help us create your personalized experience.</p>
                    </div>
                    <div class="flex flex-wrap justify-center">
                        <div *ngFor="let category of categories" class="m-4">
                            <div [ngClass]="{'categorySelected': selectedCategoryIds.includes(category.id)}"
                                class="bg-gray-200 rounded-lg px-4 py-2 h-24 w-32 flex items-center justify-center cursor-pointer transition duration-300 ease-in-out transform hover:scale-105"
                                (click)="toggleCategorySelection(category)">
                                <p class="text-unselectable text-center break-words">{{ category.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                    class=" mt-[23px] inline-flex relative left-[350px] text-white bg-[#F28500] gap-[10px] border-0 py-2 px-6 focus:outline-none text-[18px] rounded-[44px] text-lg font-medium"
                    (click)="ConsumerPreference()">Explore
                    Services</button>
            </div>


        </div>
    </div>

</section>



<!-- new sections of gender and all -->