<section class="bg-white dark:bg-gray-900 bg-[#FCE7CC] h-[715px]">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-[48px] leading-[60px] tracking-[-0.2px] font-bold text-gray-900 ">Experience Wellness <br> On
                the Go</h2>
            <p class="mb-4 text-[19PX] leading-[32px] tracking-[-0.2px] font-normal">Take your wellness journey with you wherever you go with our mobile app. Seamlessly access
                our services, schedule appointments, and stay connected with your practitioner—all from the palm of your
                hand. With user-friendly navigation and convenient features, our app makes it easy to prioritize your
                well-being, no matter how busy life gets.</p>
            
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg mt-[137px] w-[194px] h-[80px] ml-[80px]" src="assets/frame of mobile.svg" alt="office content 1">
             <!-- <img class="" src="assets/person frame.svg" alt="office content 1"> -->
            <img class="mt-4 w-full lg:mt-10 rounded-lg w-[227px] h-[504px]" src="assets/mobile app.svg" alt="office content 2">
            <img class=" ml-[130px] mt-[-333px]" src="assets/person frame.svg" alt="office content 1">
            <img src="assets/Rectangle.svg" alt="" class="w-[175px] h-[216px] ml-[200px] opacity-[20%] mt-[-560px]" >
            <img src="assets/dootted button.svg" alt="" class="ml-[128px] mt-[-179px]">
        </div>
       

    </div>
</section>
