<section class="bg-[#FCE7CC]">
    <div class="gap-16 items-center mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 py-20">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h6 class="text-[#FF9D26] text-[13px] leading-[16px] font-[700]">THE HEALERS APP</h6>
            <h2 class="mb-4 text-[48px] leading-[60px] tracking-[-0.2px] font-bold text-gray-900 ">Experience Wellness <br> On
                the Go</h2>
            <p class="mb-4 text-[19PX] leading-[32px] tracking-[-0.2px] font-normal">Take your wellness journey with you wherever you go with our mobile app. Seamlessly access
                our services, schedule appointments, and stay connected with your practitioner—all from the palm of your
                hand. With user-friendly navigation and convenient features, our app makes it easy to prioritize your
                well-being, no matter how busy life gets.</p>
            
        </div>
        <div class="relative min-h-[504px]">
            <img class=" absolute right-[40%] top-[20%]" src="assets/frame of mobile.svg" alt="office content 1">
             <!-- <img class="" src="assets/person frame.svg" alt="office content 1"> -->
            <img class="h-[504px] absolute right-[0] top-[0] z-[1]" src="assets/mobile app.svg" alt="office content 2">
            <img class="absolute right-[32%] top-[45%] z-[3]" src="assets/person frame.svg" alt="office content 1">
            <img src="assets/Rectangle.svg" alt="" class="absolute right-[-30px] top-[-30px]" >
            <img src="assets/dootted button.svg" alt="" class="absolute right-[28%] bottom-[10%]">
        </div>
       

    </div>
</section>
