nav{
    position: absolute;
    z-index: 9;
    background: transparent;
}
button{
    width: 153px;
    height: 48px;
    border-radius: 8px;
    border: 2px;
    padding: 12px;
    
}
.logos{
    height: 24px !important;
    width: 24px !important;
}
