<footer class="text-gray-600 body-font" [style.backgroundColor]="isLandingPage ? '#FFFFFF' : '#161C2D'">
    <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col w-[1280px]">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left h-[140.91px] w-[248px]">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img  *ngIf="isLandingPage" src="assets/logo.svg.svg" alt="">
                <img  *ngIf="!isLandingPage" src="assets/green white.svg" alt="">

            </a>
            <p class="mt-2 text-sm text-gray-500 leading-[26px] text-[15px] font-normal mt-[30px]" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">"Love 'The Healers'
                app! It's my go-to for wellness. Easy booking,
                great recommendations, and a supportive community. Highly recommend!"</p>
        </div>
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Company</h2>
                <nav class="list-none mb-10">
                    <div class="leading-[38px]">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">About us </a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Contact us</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Terms and Conditions</a>
                        </li>
                    </div>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Services</h2>
                <nav class="list-none mb-10">
                    <div class="leading-[38px]">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Mind</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Body</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Medicine</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Psychologists and Counselors</a>
                        </li>
                    </div>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 ml-[35px]"
                     [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Links</h2>
                <nav class="list-none mb-10">
                    <div class="leading-[38px] ml-[35px]">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Sitemap</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Security</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">SupportCenter</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">Cookie Preferences</a>
                        </li>
                    </div>
                </nav>
            </div>

        </div>
        <a href=""> <img src="assets/4.svg" alt=""></a>
    </div>
    <div class=" ">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row w-[1280px] h-[58px]">
            <p class="text-gray-500 text-sm text-center sm:text-left text-[15px] font-normal leading-[26px] text-left text-[#161C2D] tracking-[-0.10000000149011612px]"
                style="font-family: Gilroy-Regular; " [style.color]="isLandingPage ? '#000000' : '#FFFFFF'">© 2024 Copyright, All Right Reserved.
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start gap-[32px]">
                <a class="text-gray-500">
                    <img *ngIf="isLandingPage" src="assets/logo-twitter.jpg" alt="" class="logos">
                    <img *ngIf="!isLandingPage" src="assets/logo-twitter-white.svg" alt="" class="logos">
                    
                </a>
                <a class="ml-3 text-gray-500">
                    <img *ngIf="isLandingPage" src="assets/Path.jpg" alt="" class="logos">
                    <img *ngIf="!isLandingPage" src="assets/Path.svg" alt="" class="logos">
                </a>
                <a class="ml-3 text-gray-500">
                    <img  *ngIf="isLandingPage" src="assets/logo-instagram.jpg" alt="" class="logos">
                    <img  *ngIf="!isLandingPage" src="assets/logo-instagram.svg" alt="" class="logos">

                </a>
                <a class="ml-3 text-gray-500">
                    <img  *ngIf="isLandingPage"  src="assets/logo-linkedin.jpg" alt="" class="logos">
                    <img  *ngIf="!isLandingPage"  src="assets/logo-linkedin.svg" alt="" class="logos">
                </a>
            </span>
        </div>
    </div>
</footer>