<div class="my-[56px]">
    <div class="text-center py-[28px]">
        <p class="font-bold text-[#FF9D26]" style=" size: 13px; ">WHY CHOOSE US</p>
        <p class="font-bold text-[#161C2D] text-[36px]">
            People choose us because we <br> serve the best for everyone</p>
    </div>
    <div class="flex justify-around w-[65%] mx-auto flex-wrap py-[28px] ">
        <div class="flex w-[50%] justify-around">
            <div class="flex justify-start">
                <span class=" rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full" ></span>
                <div class="px-2">
                    <h3 class="font-bold text-[21px] leading-[27px]">Global Reach, Local Connection</h3>
                    <p
                        class="font-normal mt-1 text-[#5C606C] w-[300px] h-[58px] tracking-[-1.2px] leading-[27px] text-[17px];">
                        Expand globally, connect locally, reach diverse customers effortlessly</p>
                </div>
            </div>
        </div>
        <div class="flex w-[50%] justify-around">
            <div class="flex justify-start ml-[37px]">
                <span class=" rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full">
                </span>
                <div class="px-2">
                    <h3 class="font-bold text-[21px] leading-[27px]">Effortless Setup and Management</h3>
                    <p
                        class="font-normal mt-1 text-[#5C606C] opacity-[] w-[300px] h-[58px] tracking-[-1.2px] leading-[27px] text-[17px];">
                        Streamlined setup, simple management, user-friendly. </p>
                </div>
            </div>
        </div>
        <div class="flex w-[50%] mt-[40px] justify-around pl-[33px]">
            <div class="flex justify-start">
                <span class=" rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full"></span>
                <div class="px-2">
                    <h3 class="font-bold text-[21px] leading-[27px]">Marketing and Promotion Support</h3>
                    <p
                        class="font-normal mt-1 text-[#5C606C] opacity-[] w-[300px] h-[58px] tracking-[-1.2px] leading-[27px] text-[17px];">
                        Boost sales, enhance visibility, targeted marketing for increased exposure.</p>
                </div>
            </div>
        </div>
        <div class="flex w-[50%] mt-[40px] justify-around">
            <div class="flex justify-start">
                <span class=" rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full"></span>
                <div class="ps-2">
                    <h3 class="font-bold text-[21px] leading-[27px]">Actionable Insights for Growth</h3>
                    <p
                        class="font-normal mt-1 text-[#5C606C] opacity-[] w-[300px] h-[58px] tracking-[-1.2px] leading-[27px] text-[17px]; ">
                        Track trends, optimize strategy, data-driven decisions for business success. </p>
                </div>
            </div>
        </div>
    </div>
</div>