<div class="flex justify-evenly flex-col min-h-[60vh]">
    <div class="text-center">
        <p class="font-bold text-[#FF9D26]" style=" size: 13px; ">WHY CHOOSE US</p>
        <p class="font-bold text-[#161C2D] text-[36px]">
            People choose us because we <br> serve the best for everyone</p>
    </div>
    <div class="flex justify-around w-[65%] mx-auto flex-wrap">
        <div class="flex w-[50%] justify-around">
            <div class="flex justify-start pr-[36px]">
                <span class="text-violet-600 rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full" ></span>
                <div class="px-2">
                    <h3 class="font-bold text-[21px] leading-[32px]">Global Reach, Local Connection</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Expand globally, connect locally, reach diverse customers effortlessly</p>
                </div>
            </div>
        </div>
        <div class="flex w-[50%] justify-around">
            <div class="flex justify-start pl-[33px]">
                <span class="text-violet-600 rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full">
                </span>
                <div class="px-2">
                    <h3 class="font-bold text-[21px] leading-[32px]">Effortless Setup and Management</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Streamlined setup, simple management, user-friendly. </p>
                </div>
            </div>
        </div>
        <div class="flex w-[50%] mt-[40px] justify-around">
            <div class="flex justify-start">
                <span class="text-violet-600 rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full"></span>
                <div class="px-2">
                    <h3 class="font-bold text-[21px] leading-[32px]">Marketing and Promotion Support</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Boost sales, enhance visibility, targeted marketing for increased exposure.</p>
                </div>
            </div>
        </div>
        <div class="flex w-[50%] mt-[40px] justify-around">
            <div class="flex justify-start">
                <span class="text-violet-600 rounded-full flex justify-around items-center">
                    <img src="assets/Icon.png" alt="" class="w-full"></span>
                <div class="ps-2">
                    <h3 class="font-bold text-[21px] leading-[27px]">Actionable Insights for Growth</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Track trends, optimize strategy, data-driven decisions for business success.</p>
                </div>
            </div>
        </div>
    </div>
</div>