<div class="max-w-4xl mx-auto px-5 mt-16 mt-[-24px] p-[80px]" >

    <div class="text-center gap-6">
        <p class="font-bold leading-4 text-[#FF9D26]" style=" size: 13px; ">WHY CHOOSE US</p>
        <p
            class="font-bold text-[#161C2D] ml-[161px] w-[521px] h-[96px] tracking-[-1.2px] leading-[48px] text-[36px]">
            People choose us because we serve the best for everyone</p>
    </div>


    <div class="grid md:grid-cols-2 gap-10 mt-10">


        <div class="flex gap-4 items-start ml-[-20px]">
            <span class="text-violet-600  p-3 rounded-full ">
                <img src="assets/Icon.png" alt="" class="max-w-20 h-20"></span>
            <div>
                <h3 class="font-bold text-[21px] leading-[32px]">Booking and Scheduling</h3>
                <p
                    class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                    Book appointments with confidence using our secure booking system.</p>
            </div>
        </div>


        <div class="flex gap-4 items-start ml-[20px]">
            <span class="text-violet-600  p-3 rounded-full">
                <img src="assets/Icon.png" alt="" class="max-w-20 h-20">
            </span>
            <div>
                <h3 class="font-bold text-[21px] leading-[32px]">Rating and Reviews</h3>
                <p
                    class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                    Make informed decisions by reading reviews and ratings from other users. </p>
            </div>
        </div>


        <div class="flex gap-4 items-start ml-[-20px]">
            <span class="text-violet-600  p-3 rounded-full">
                <img src="assets/Icon.png" alt="" class="max-w-20 h-20"></span>
            <div>
                <h3 class="font-bold text-[21px] leading-[32px]">Vendor Dashboard</h3>
                <p
                    class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                    Access a comprehensive dashboard to manage bookings, track earnings.</p>
            </div>
        </div>


        <div class="flex gap-4 items-start ml-[20px]">
            <span class="text-violet-600  p-3 rounded-full">
                <img src="assets/Icon.png" alt="" class="max-w-20 h-20"></span>
            <div>
                <h3 class="font-bold text-[21px] leading-[27px]">Personalized Recommendations</h3>
                <p
                    class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                    Receive recommendations based on your past bookings and interests. </p>
            </div>
        </div>
    </div>
</div>