nav{
    position: absolute;
    z-index: 9;
    background: transparent;
}
button{
   
   
    border-radius: 8px;
    border: 2px;
    
    
}
.logos{
    height: 24px !important;
    width: 24px !important;
}