<app-hero-component></app-hero-component>
<div class="flex place-content-around h-[150px]">
    <span class="font-bold text-[48px] leading-[58px] ml-[128px] mt-[42px] ">1M+</span>
    
        <div class="w-[156.5px] h-[58px] opacity-[70%] ml-[-206.16px] mt-[48px] tracking-[-0.2px]">Customers visit Albino every months</div>
   
    <span class="w-[82px] h-[58px] font-bold text-[48px] leading-[58px] mt-[42px] ml-[-77px]">93%</span>
    
        <div class="w-[156.5px] h-[58px] opacity-[70%] ml-[-206.16px] mt-[48px] tracking-[-0.2px]">Satisfaction rate from our customers.</div>
    
    <span class="w-[61px] h-[58px] font-bold text-[48px] leading-[58px] mt-[42px]">4.9</span>
    
        <div class="w-[156.5px] h-[58px] opacity-[70%] ml-[-206.16px] mt-[48px] tracking-[-0.2px]" >Average customer ratings out of 5.00!</div>
    
</div>
    <!-- why chosseee usssss sections  -->

    <!-- TWO IMAGE SECTIONSSSSSSSSS  w-full-->
    <section class="w-[98vw]">
        <div class="flex flex-wrap -mx-2" >
            <div class="w-1/2 h-[400px]">
                <div class="flex flex-wrap w-full bg-gray-100 sm:pb-96 py-12 sm:px-10 px-6 relative">
                    <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0"
                        src="assets/frame1.jpg">
                    <div class="z-10">
                        <p class="text-white font-bold text-lg">Join our community of healers and <br>showcase your
                            fitness and wellness <br>services to a wide audience.</p>
                        <a class="mt-3 text-indigo-500 inline-flex items-center">
                            <button type="button"
                                class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900" (click)="navigatetootherpage()">Join
                                as vendor</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-1/2">
                <div class="flex flex-wrap w-full bg-gray-100 sm:pb-96 py-12 sm:px-10 px-6 relative">
                    <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0"
                        src="assets/frame2.jpg">
                    <div class="z-10">
                        <p class="text-white font-bold text-lg">Explore a variety of fitness and wellness<br> services
                            offered by our trusted providers <br>to enhance your well-being.</p>
                        <a class="mt-3 text-indigo-500 inline-flex items-center">
                            <button type="button"
                                class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">Explore
                                Services</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- why chosseee usssss sections  -->
    
    <div class="max-w-4xl mx-auto px-5 mt-16 mt-[-24px]" style="padding: 80px;">

        <div class="text-center gap-6">
            <p class="font-bold leading-4 text-[#FF9D26]" style=" size: 13px; ">WHY CHOOSE US</p>
            <p
                class="font-bold text-[#161C2D] ml-[102px] w-[521px] h-[96px] tracking-[-1.2px] leading-[48px] text-[36px]">
                People choose us because we serve the best for everyone</p>
        </div>


        <div class="grid md:grid-cols-2 gap-10 mt-10">


            <div class="flex gap-4 items-start" style="margin-left: -20px;
        ">
                <span class="text-violet-600  p-3 rounded-full ">
                    <img src="assets/Icon.png" alt="" class="max-w-20 h-20"></span>
                <div>
                    <h3 class="font-bold" style="font-size: 21px;
                    line-height: 32px; ">Booking and Scheduling</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Book appointments with confidence using our secure booking system.</p>
                </div>
            </div>


            <div class="flex gap-4 items-start" style="margin-left: 20px">
                <span class="text-violet-600  p-3 rounded-full">
                    <img src="assets/Icon.png" alt="" class="max-w-20 h-20">
                </span>
                <div>
                    <h3 class="font-bold" style="font-size: 21px;
                    line-height: 32px;">Rating and Reviews</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Make informed decisions by reading reviews and ratings from other users. </p>
                </div>
            </div>


            <div class="flex gap-4 items-start" style="margin-left: -20px;
        ">
                <span class="text-violet-600  p-3 rounded-full">
                    <img src="assets/Icon.png" alt="" class="max-w-20 h-20"></span>
                <div>
                    <h3 class="font-bold" style="font-size: 21px;
                    line-height: 32px;">Vendor Dashboard</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Access a comprehensive dashboard to manage bookings, track earnings.</p>
                </div>
            </div>


            <div class="flex gap-4 items-start" style="margin-left: 20px">
                <span class="text-violet-600  p-3 rounded-full">
                    <img src="assets/Icon.png" alt="" class="max-w-20 h-20"></span>
                <div>
                    <h3 class="font-bold" style="font-size: 21px;
                    line-height: 27px;">Personalized Recommendations</h3>
                    <p
                        class="mt-1 text-gray-500 w-[300px] h-[58px] tracking-[-0.2px] leading-[29px] text-[17px] font-normal">
                        Receive recommendations based on your past bookings and interests. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- testminolas -->
    <!-- <section class="bg-white dark:bg-gray-900 h-[420px] bg-center" style="background-image: url('assets/BG.png'); background-size: cover;   Padding:
        0px, 300px, 0px, 300px">
        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
            <figure class="max-w-screen-md mx-auto">
                <p class="font-bold text-[13px] text-[#FF9D26]">Testimonial</p>
                <blockquote>
                    <p class="text-2xl font-medium dark:text-white mt-[27px] leading-[44px] text-[#FFFFFF]">"Love 'The
                        Healers' app! It's my
                        go-to for wellness. Easy booking, great recommendations, and a supportive community. Highly
                        recommend!"</p>
                </blockquote>
                <figcaption class="flex items-center justify-center mt-6 space-x-3">
                    <img class="w-6 h-6 rounded-full w-[80px] h-[80px]"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png"
                        alt="profile picture">
                    <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                        <div class="pr-3 font-medium  dark:text-white text-[#FFFFFF]">Charlie
                            Gouse</div>

                    </div>
                </figcaption>
            </figure>
        </div>
    </section> -->
   
    <!-- foooter -->
    <app-footer-component [isLandingPage]="true"></app-footer-component>

    <!-- <div class="flex place-content-around  ">
        <div class="w-[265.34px] h-[58px]"> <span
                class="w-[81px] h-[58px] font-bold text-[48px] leading-[58px] tracking-[-1.8px]"> 1M+</span> <span
                class=" font-normal text-[17px] ml-[6.84px] opacity-[70%]leading-[29px] tracking-[-0.2px]">Customers
                visit <span class="ml-[105px] mt-[20px]">Albino every months </span></span> </div>
        <div class="w-[260.84px] h-[58px]"> <span
                class="w-[82px] h-[58px] font-bold text-[48px] leading-[58px] tracking-[-1.8px]">93%</span> <span
                class="w-[156.5px] h-[58px] ml-[ 9.33px] opacity-[70%] font-normal text-[17px] leading-[29px] tracking-[-0.2px]">
                Satisfaction rate <span class="ml-[95px]">from our customers. </span></span> </div>
        <div class="w-[237.45px] h-[58px]"> <span
                class="w-[61px] h-[58px] font-bold text-[48px] leading-[58px] tracking-[-1.8px] "> 4.9</span> <span
                class="w-[156.5px] h-[58px] ml-[80.95] opacity-[70%]  font-normal text-[17px] leading-[29px] tracking-[-0.2px]">
                Average customer <span class="ml-[70px]">ratings out of 5.00! </span> </span> </div>
    </div> -->

  


    <!-- upr vla components hai yeahhh vlaaaa -->
    <!-- <section>
        <div class="bg-white p-8 rounded-lg shadow-md">
            <table class="w-full ">
                <tr style="    POSITION: ABSOLUTE;
                    LEFT: 230PX">
                    <td class="text-4xl font-bold text-center">1M+</td>
                </tr>
                <tr>
                    <td class="text-center" style="POSITION: ABSOLUTE;
                        LEFT: 324PX; bottom: -88px">Customers visit <br> Albino every month</td>
                </tr>
            </table>
            <table class="w-full mt-4">
                <tr style="POSITION: relative;
                    TOP: -19PX;">
                    <td class="text-4xl font-bold text-center">93%</td>
                </tr>
                <tr style="position: absolute;
                    left: 813px;
                    bottom: -86px ">
                    <td class="text-center">Satisfaction rate <br> from our customers</td>
                </tr>
            </table>
            <table class="w-full mt-4">
                <tr style="position: absolute;
                    right: 296px;
                    top: 728px">
                    <td class="text-4xl font-bold text-center">4.9</td>
                </tr>
                <tr style="position: absolute;
                    right: 150px;
                    top: 730px">
                    <td class="text-center">Average customer <br> ratings out of 5.00!</td>
                </tr>
            </table>
        </div> -->
