/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'DM Sans';
    src: url(assets/font/DMSans-Black.ttf) format("truetype"),
    }
 body { 
    font-family: 'Dm Sans'; 
  } 
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-unselectable {
    user-select: none;
  }
  