nav{
    position: absolute;
    z-index: 9;
    background: transparent;
}
.button1{
    width: 153px;
    height: 48px;
    border-radius: 8px;
    border: 2px;
    padding: 12px;
    border-style: solid;
    
}

.carousel-img{
    width: 100%;
    
  }
 
 
 
 
 
 
 